*{
	margin: 0;
	padding: 0;
}
body{ margin: 0; }
@keyframes count{
	0%{transform: translate(0,-200vh); filter: blur(100px)}
	33%{transform: translate(0,0vh); filter: blur(0px)}
	66%{transform: translate(0,0vh); filter: blur(0px)}
	100%{transform: translate(0,200vh); filter: blur(100px)}
}
@keyframes countZero{
	0%{transform: translate(0,-200vh); filter: blur(100px)}
	100%{transform: translate(0,0vh); filter: blur(0px)}
}
@keyframes shake{
	0%{filter: blur(0px);transform: translate(1px,1px)}
	20%{filter: blur(0px);transform: translate(1px,-1px)}
	60%{filter: blur(0px);transform: translate(-1px,-1px)}
	80%{filter: blur(0px);transform: translate(-1px,1px)}
	100%{filter: blur(0px);transform: translate(1px,1px)}
}
#count{
	height: 100vh;
	width: 100vw;
	background-color: black;
	color: white;
	font-family: 'Press Start 2P';
	font-size: 50vh;
	overflow: hidden;
	position: relative;
}
body{
	overflow: hidden;
	position: relative;
}
.num{
	transform: translate(0,-200vh);
	filter: blur(100px);
	position: absolute;
	top: 25vh;
	height: 50vh;
	width: 100vw;
	text-align: center;
}
#zero{
	/* animation: countZero 1s 6s forwards; */
	color: red;
}